/* header */
:root{
    --header-logo: #4283c4;
}
.header{
    background:var(--header-logo);
    padding-top: 30px;
}
.section-heading{
   color: #10375C;
font-size: 50px;
font-weight: 600;
line-height: 1.2; /* 120% */
letter-spacing: -1px; 
}
.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
  justify-content: center;
  margin-top: 38px;
}

.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  background: #fff;
  cursor: pointer;
  transition: 0.25s;
}

.control__btn:hover {
  background: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}

.control-icon--next {
  rotate: 180deg;
}
.container{
    max-width: 1170px;
    min-height: 100vh;
    margin: 0 auto;
}
.header-top{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.section-desc{
    margin-top: 18px;
    color: #575F66;
font-size: 1.8rem;
font-weight: 300;
line-height: 1.67;

}
.navbar__list{
    display: flex;
}
.header__action--login,
.navbar__link{
    padding: 8px 21px;
 color: #C9D2DA;
font-size: 1.6;
font-style: normal;
font-weight: 300;
line-height: 1.75;
text-decoration: none;
}
.navbar__link:hover,
.navbar__link--active{
color: #FFF;
 text-shadow: 1px 0 0 currentColor ;
}
.navbar__link--active::before{
content: "";
display: inline-block;
width: 6px;
height: 6px;
border-radius: 50%;
top: -3px;
position: relative;
right: 8px;
background-color: #FFF;
}
a{
    text-decoration: none;
}
.btn{
display: inline-block;
min-width: 205px;
background-color: #11304f;
color: #FFF;
text-align: center;
line-height: 60px;
font-size: 1.8rem;
border-radius: 999px;
}
.btn:hover{
    opacity:0.7 ;
}
.header__action--signup{
min-width: 144px;
line-height: 44px;
font-style: 1.6em;
}
.header__acion--login{
    margin-right: 7px;
}
/* hero */
.hero{
    display: flex;
    padding-top: 76px;
}
.hero__content{
    width: 44%;
}
.hero__media{
    flex:1;
}
.hero__heading{
    color: #FFF;
font-family: Sora;
font-size: 75px;
font-weight: 600;
line-height: 80px;
letter-spacing: -1.4px;
}
.hero__desc{
    color: #C9D2DA;
font-family: Sora;
font-size: 1.8rem;
font-style: normal;
font-weight: 300;
line-height: 30px;
margin-top: 22px;
}
.hero__row{
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}
.hero__phone{
    color: #FFF;
text-align: center;
font-family: Sora;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
.hero__media .hero__images{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero__img{
    border-radius: 5px;
    object-fit: cover;
}
.hero__img--large{
    width: 330px;
height: 540px;
margin-right: -6px;
z-index: 1;
}
.hero__img--small{
    width: 210px;
height: 410px;
}
.service{
    padding: 170px 0;
}
.section-heading, 
.section-desc{
    text-align: center;
}
.section-desc{
  width: 468px;
  margin: 18px auto 0;
}
.service__row{
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
}
.service__img{
    width: 570px;
height: 570px;
border-radius: 12px;
object-fit: cover;
}
.service-item{
    display: flex;
    align-items: center;
    width: 470px;
    background:#FFF;
    border-radius: 10px;
    padding: 21px;
    transition: 0.5s;
}
.service-item:hover{
    position: relative;
box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}
.service-item:hover .service-item__icon{
     color:#fff;
    background-color: #4283c4;
}
.service-item__icon{
    width: 60px;
height: 60px;
border-radius: 30px;
background-color: #C9D2DA;
box-shadow:0px 8px 16px 0px rgba(0, 0, 0, 0.05);
display: flex;
justify-content: center;
align-items: center;
flex-shrink: 0;
margin-right: 18px;
transition: 0.5s;
}
.service-item__heading{
    color: #10375C;
font-size: 1.8rem;
font-weight: 600;
}
.service-item__desc{
    margin-top: 8px;
    color: #575F66;
font-family: Sora;
font-size: 1.6;
font-weight: 300;
line-height: 1.75; /* 175% */
}
.service__btn{
    margin-top: 55px;
}
.work{
    margin-top: 70px;
    padding: 100px  ;
    background: #F6FBFF;
}
.work__desc,
.work__heading{
    margin-left: 0px;
    text-align: start;
}
.work__list{
    margin-top: 86px;
    display: flex;
    background-color: #F6FBFF;
    gap: 46px;
}
.work-item{
    width: 338px;
height: 370px;
border: 16px solid #EAF6FF ;
padding: 42px;
}
.work-item__heading{
    color: #10375C;
font-size: 26px;
font-weight: 600;
line-height: 1.38rem;
margin-top: 18px;
}
.work-item__desc{
   color: #575F66;
font-size: 16px;
font-weight: 300;
line-height: 28px;
width: 254px;
margin-top: 18px;
}
.work-item__more{
    color: #575F66;
font-size: 16px;
font-weight: 400;
line-height: 28px; 
margin-top: 18px;
}

.work-item:hover .work-item__more{
color: #2E80CE;
}
.work-item:hover {
    border-color: #2E80CE;
    position: relative;
    top: -16px;
    transition: 0,5s;
}
.about{
    margin-top: 170px auto ;
}
.about__row{
    display: flex;
   justify-content: space-between;
   align-items: center;
}
.about__imgs{
   position: relative;
    width: 49%;
}
.about__img--under{
    display: flex;
    border-radius: 5px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
    width: 512px;
height: 370px;
}
.about__img--top{
    border-radius: 5px;
       box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
    width: 332px;
height: 370px;
z-index: 1;
position:absolute;
left: 238px;
top: 121px ;
}
.about-item{
    width: 40%;
}
.about__heading{
    color: #10375C;
font-family: Sora;
font-size: 57px;
font-weight: 600;
line-height: 1.2;
letter-spacing: -1px;
width: 470px;
text-align: start;
}
.about__desc{
    color: #575F66;
font-size: 22px;
font-weight: 300;
line-height: 30px;
width: 468px;
margin-top: 18px;
height: 90px;
text-align: start;
}
.about__btn{
    margin-top: 38px;
}
/* team */
.team{
    padding-top: 20px;
}

.team__heading-top{
text-align: center;
}
.team__heading{
    color: #10375C;
text-align: center;
font-family: Sora;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 60px; /* 120% */
letter-spacing: -1px;
}
.team__btn{
color: #FFF;
text-align: center;
font-family: Sora;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
margin-top: 38px;
}
.team__list{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team__list-item{
    width: 262px;
}
.team__img{
    border-radius: 6px;
background: #9fc4e1;
}
.team__name{
    margin-top: 12px;
  color: #10375C;
text-align: center;
font-family: Sora;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
.team__desc{
    width: 262px;
    margin-top: 0;
    color: #575F66;
text-align: center;
font-family: Sora;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 26px; /* 185.714% */
}
/* install */
.install{
    display: flex;
    align-items: center;
    justify-content: center;
  background-color: #575f66;
}
.install__inner{
    width: 1170px;
height: 427px;
border-radius: 4px;
background: #2E80CE;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 70px;
position: relative;
min-height: 427px;
}
.install__img{
    position: absolute;
    width: 284px;
height: 522px;
object-fit: cover;
bottom: 0px;
left: 0;
}

.install__heading{
    color: #FFF;
font-family: Sora;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 60px; /* 120% */
letter-spacing: -1px;
width: 489px;
text-align: start;
}
.install__desc{
    color: #FFF;
font-family: Sora;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 30px; /* 166.667% */
width: 586px;
margin-top: 18px;
}
.install__row{
    display: flex;
    margin-top: 38px;
gap: 38px;
}
/* block */
.blog{
    margin-top: 100px;
    padding: 70px ;
}
.blog__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
}
.blog__content--heading{
    color: #10375C;
font-family: Sora;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 60px; /* 120% */
letter-spacing: -1px;
margin-top: 68px;
text-align: start;
width: 470px;
height: 120px;
}
.blog__thumb{
  color: #10375C;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 155.556% */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;  
}
.blog__control{
    display: flex;
    justify-content: flex-start;
}
.blog__list{
    display: flex;
    gap: 30px;
}
.blog__list--item{
    width: 270px;
height: 375px;
border-radius: 12px;
background: #FFF;
box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
}
.blog__heading{
    color: #10375C;
font-family: Sora;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 162.5% */
width: 224px;
margin-top: 18px;
text-align: start;
}
.blog__desc{
    color: #575F66;
font-family: Sora;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 171.429% */
margin-top: 10px;
width: 226px;
text-align: start;
margin: 0px;
}
.blog__list--content{
    padding: 12px;
}
.blog__item--more{
    margin-top: 12px;
    text-align: start;
}