/* header */
:root{
    --header-logo: #4283c4;
}
.header{
    background:var(--header-logo);
    padding-top: 30px;
}
.container{
    max-width: 1170px;
    min-height: 100vh;
    margin: 0 auto;
}
.header-top{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.navbar__list{
    display: flex;
}
.header__action--login,
.navbar__link{
    padding: 8px 21px;
 color: #C9D2DA;
font-size: 1.6;
font-style: normal;
font-weight: 300;
line-height: 1.75;
text-decoration: none;
}
.navbar__link:hover,
.navbar__link--active{
color: #FFF;
 text-shadow: 1px 0 0 currentColor ;
}
.navbar__link--active::before{
content: "";
display: inline-block;
width: 6px;
height: 6px;
border-radius: 50%;
top: -3px;
position: relative;
right: 8px;
background-color: #FFF;
}
a{
    text-decoration: none;
}
.btn{
display: inline-block;
min-width: 205px;
background-color: #507397;
color: #FFF;
text-align: center;
line-height: 60px;
font-size: 1.8rem;
border-radius: 999px;
}
.btn:hover{
    opacity:0.7 ;
}
.header__action--signup{
min-width: 144px;
line-height: 44px;
font-style: 1.6em;
}
.header__acion--login{
    margin-right: 7px;
}
